<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width = device-width, initial-scale=1.0" />
    <title>Get Stock Information</title>
    <link
      href="{{url_for('static', filename='styles/style.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Stocked Sea Traders Trade Assistant &trade;</h1>
    <h1>By: Blake Coppens and William Shaoul</h1>
    <form action="/stockInfo">
      <input
        type="text"
        name="stockName"
        id="stockInfo"
        placeholder="Enter a stock abbreviation"
      />
      <button type="submit">Search</button>
    </form>
    <h2>Chart</h2>
    <img
      src="{{ url_for('static', filename='styles/blake and will.jpg') }}"
      alt="Stock Chart (Work in progress, Planned for future)"
      width="1280"
      height="960"
    />
  </body>
</html>
